.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header {
  background: turquoise;
}

.Main {
  border: 1px solid whitesmoke;
  width: 75vw;
  max-width: 700px;
  padding: 25px;
  margin-top: 20px;
}

.Main form {
  margin: 50px 0 0;
}
.Main button {
  width: 100px;
  height: 30px;
  margin: 20px auto;
  background: turquoise;
}

.Input-Field {
  display: flex;
  border: 1px solid grey;
  justify-content: space-between;
  height: 50px;
  margin: 20px auto;
  max-width: 300px;
}
.Input-Field input {
  font-size: 18px;
  max-width: 70px;
  text-align: center;
  /* height: 100%; */
}
.Input-Field label {
  margin:auto;
}