.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.container {
  width: 75vw;
  max-width: 700px;
  border: 1px solid whitesmoke;
}
.theme {
  background: turquoise;
}

.App-header {
  padding: 25px 0;
}

.Main {
  padding: 25px 0
}

.Main form {
  margin: 50px 0 0;
}
.Main button {
  width: 150px;
  height: 50px;
  margin: 20px auto;
  background: turquoise;
}

.Input-Field {
  display: flex;
  border: 1px solid grey;
  justify-content: space-between;
  height: 50px;
  margin: 20px auto;
  max-width: 300px;
}
.Input-Field input {
  font-size: 18px;
  max-width: 70px;
  text-align: center;
}
.Input-Field label {
  margin:auto;
}