.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.container {
  width: 75vw;
  max-width: 700px;
  border: 1px solid whitesmoke;
}
.theme {
  background: #57b7ac;
}
.dark-text {
  color: #2f1c1c;
}

.App-header {
  padding: 25px 0;
}